<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>萌鹿报价</title>
    <link href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/base.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="carousel-inner">
        <ul class="nav nav-pills common-ul-background" role="tablist">
            <li role="presentation" class=""><a href="/h5_test/menglu_index">主页</a></li>
            <li role="presentation" class="active"><a href="#">报价</a></li>
            <li role="presentation" class=""><a href="/h5_test/menglu_about">关于我们</a></li>
        </ul>
    </div>
    <br/>
    <!--<div class="jumbotron">-->

    <table class="table table-bordered table-hover">
        <!--<thead>-->
        <!--<tr>-->
        <!--<th>active</th>-->
        <!--<th>success</th>-->
        <!--<th>warning</th>-->
        <!--<th>danger</th>-->
        <!--<th>info</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <tbody>
        <tr>
            <td width="80" height="54" align="center" valign="middle" bgcolor="#DDEEFF">序号</td>
            <td colspan="2" align="center" valign="middle" bgcolor="#DDEEFF">项 目</td>
            <td width="62" align="left" valign="middle" bgcolor="#DDEEFF">计价单位</td>
            <td width="87" align="center" valign="middle" bgcolor="#DDEEFF">
                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <td>
                            <div align="right">收费标准</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="center">外译中</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td width="87" align="center" valign="middle" bgcolor="#DDEEFF">
                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <td>
                            <div align="left" class="rmbzt STYLE1">(人民币/元)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="center">中译外</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td width="140" align="center" valign="middle" bgcolor="#DDEEFF">说明</td>
        </tr>
        <tr>
            <td height="22" align="center" valign="middle" bgcolor="#FAFAFA">1</td>
            <td colspan="2" align="left" valign="middle" bgcolor="#FAFAFA">公证书</td>
            <td align="center" valign="middle" bgcolor="#FAFAFA">份</td>
            <td align="left" valign="middle" bgcolor="#FAFAFA"></td>
            <td align="center" valign="middle" bgcolor="#FAFAFA">60</td>
            <td align="left" valign="middle" bgcolor="#FAFAFA">内容不超过六行</td>
        </tr>
        <tr>
            <td height="30" align="center" valign="middle" bgcolor="#DDEEFF">2</td>
            <td colspan="2" align="left" valign="middle" bgcolor="#DDEEFF">外国驾驶证</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">份</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">70</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">&nbsp;</td>
            <td bgcolor="#DDEEFF">&nbsp;</td>
        </tr>
        <tr>
            <td height="22" align="center" valign="middle" bgcolor="#FAFAFA">3</td>
            <td colspan="2" align="left" valign="middle" bgcolor="#FAFAFA">国内驾驶证</td>
            <td align="center" valign="middle" bgcolor="#FAFAFA">份</td>
            <td align="center" valign="middle" bgcolor="#FAFAFA">&nbsp;</td>
            <td align="center" valign="middle" bgcolor="#FAFAFA">80</td>
            <td bgcolor="#FAFAFA">&nbsp;</td>
        </tr>
        <tr>
            <td height="22" align="center" valign="middle" bgcolor="#DDEEFF">4</td>
            <td colspan="2" bgcolor="#DDEEFF">进口汽车发票、技术参数</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">辆</td>
            <td bgcolor="#DDEEFF">
                <div align="center">150</div>
            </td>
            <td align="center" valign="middle" bgcolor="#DDEEFF"><span class="STYLE2"></span></td>
            <td bgcolor="#DDEEFF"><span class="STYLE2"></span></td>
        </tr>
        <tr>
            <td height="22" align="center" valign="middle" bgcolor="#FAFAFA">5</td>
            <td colspan="2" align="left" valign="middle" bgcolor="#FAFAFA">身份证、护照</td>
            <td align="center" valign="middle" bgcolor="#FAFAFA">份/页</td>
            <td align="center" valign="middle" bgcolor="#FAFAFA">50</td>
            <td align="center" valign="middle" bgcolor="#FAFAFA">50</td>
            <td bgcolor="#FAFAFA">&nbsp;</td>
        </tr>
        <tr bgcolor="#DDEEFF">
            <td height="22" align="center" valign="middle">6</td>
            <td colspan="2" align="left" valign="middle">户口簿</td>
            <td align="center" valign="middle">页</td>
            <td align="center" valign="middle">&nbsp;</td>
            <td align="center" valign="middle">40</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td height="22" align="center" valign="middle">&nbsp;</td>
            <td colspan="2" align="left" valign="middle">离婚证（带协议内容）</td>
            <td align="center" valign="middle">字符数</td>
            <td align="center" valign="middle">&nbsp;</td>
            <td align="center" valign="middle">&nbsp;</td>
            <td align="left" valign="middle">按照 NO.23 收费</td>
        </tr>
        <tr bgcolor="#DDEEFF">
            <td height="22" align="center" valign="middle">7</td>
            <td colspan="2" align="left" valign="middle">结婚证</td>
            <td align="center" valign="middle">份</td>
            <td align="center" valign="middle">&nbsp;</td>
            <td align="center" valign="middle">60</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td height="22" align="center" valign="middle">8</td>
            <td colspan="2">毕业证明等</td>
            <td align="center" valign="middle">份</td>
            <td>&nbsp;</td>
            <td align="center" valign="middle">80</td>
            <td>内附成绩单另算</td>
        </tr>
        <tr bgcolor="#DDEEFF">
            <td height="22" align="center" valign="middle">9</td>
            <td colspan="2">会考合格证</td>
            <td align="center" valign="middle">份</td>
            <td>&nbsp;</td>
            <td align="center" valign="middle">80</td>
            <td>内附成绩单另算</td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td height="22" align="center" valign="middle">10</td>
            <td colspan="2">成绩单</td>
            <td align="center" valign="middle">每学年</td>
            <td>&nbsp;</td>
            <td align="center" valign="middle">50</td>
            <td>只有一学年的按60元收取</td>
        </tr>
        <tr bgcolor="#DDEEFF">
            <td height="22" align="center" valign="middle">11</td>
            <td colspan="2">学位证书、中专以上毕业证书</td>
            <td align="center" valign="middle">份</td>
            <td valign="top">
                <div align="center">100</div>
            </td>
            <td align="center" valign="middle">60</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td height="22" align="center" valign="middle">12</td>
            <td colspan="2">退休证、专业技术职称等</td>
            <td align="center" valign="middle">份</td>
            <td>&nbsp;</td>
            <td align="center" valign="middle">80</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#DDEEFF">
            <td height="22" align="center" valign="middle">13</td>
            <td colspan="2">教师证</td>
            <td align="center" valign="middle">份</td>
            <td>&nbsp;</td>
            <td align="center" valign="middle">100</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td height="22" align="center" valign="middle">14</td>
            <td colspan="2">税单</td>
            <td align="center" valign="middle">份</td>
            <td>&nbsp;</td>
            <td align="center" valign="middle">150</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#DDEEFF">
            <td height="22" align="center" valign="middle">15</td>
            <td colspan="2">存单</td>
            <td align="center" valign="middle">份</td>
            <td>&nbsp;</td>
            <td align="center" valign="middle">80</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td height="22" align="center" valign="middle">16</td>
            <td colspan="2">体检表、健康表</td>
            <td align="center" valign="middle">份</td>
            <td>&nbsp;</td>
            <td align="center" valign="middle">225</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#DDEEFF">
            <td height="22" align="center" valign="middle">17</td>
            <td colspan="2">儿童预防接种表</td>
            <td align="center" valign="middle">份</td>
            <td>&nbsp;</td>
            <td align="center" valign="middle">225</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td height="44" align="center" valign="middle" bgcolor="#FFFFFF">18</td>
            <td colspan="2" valign="top" bgcolor="#FFFFFF">企业法人营业执照</td>
            <td align="center" valign="middle" bgcolor="#FFFFFF">起价</td>
            <td>&nbsp;</td>
            <td align="center" valign="middle" bgcolor="#FFFFFF">150</td>
            <td valign="top" bgcolor="#FFFFFF">&nbsp;经营范围内容<br>
                &nbsp;&nbsp;&nbsp;按NO.23收费
            </td>
        </tr>

        <tr bgcolor="#DDEEFF">
            <td height="22" align="center" valign="middle">19</td>
            <td colspan="2" valign="top">房产权证</td>
            <td align="center" valign="middle">份</td>
            <td valign="top" bgcolor="#DDEEFF"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td align="center" valign="middle">150</td>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="#DDEEFF">
            <td height="22" align="center" valign="middle" bgcolor="#FFFFFF">20</td>
            <td colspan="2" valign="top" bgcolor="#FFFFFF"><p>人事局学历认证文件</p></td>
            <td align="center" valign="middle" bgcolor="#FFFFFF">壹套</td>
            <td align="center" valign="middle" bgcolor="#FFFFFF">300</td>
            <td valign="top" bgcolor="#FFFFFF"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td valign="top" bgcolor="#FFFFFF">&nbsp;学位证书、成绩单</td>
        </tr>
        <tr bgcolor="#DDEEFF">
            <td height="22" align="center" valign="middle" bgcolor="#DDEEFF">21</td>
            <td colspan="2" valign="middle" bgcolor="#DDEEFF">领取生育保险金的出院小结</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">份</td>
            <td>
                <div align="center">150起</div>
            </td>
            <td align="center" valign="middle" bgcolor="#DDEEFF"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td>摘录翻译<br>
                &nbsp;&nbsp;&nbsp;流产出院小结200元
            </td>
        </tr>
        <tr bgcolor="#DDEEFF">
            <td height="26" align="center" valign="middle" bgcolor="#FFFFFF">22</td>
            <td colspan="2" valign="top" bgcolor="#FFFFFF">资产负债表</td>
            <td align="center" valign="middle" bgcolor="#FFFFFF">页</td>
            <td align="center" valign="middle" bgcolor="#FFFFFF"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td align="center" valign="middle" bgcolor="#FFFFFF">250起</td>
            <td valign="top" bgcolor="#FFFFFF"><!--DWLayoutEmptyCell-->&nbsp;</td>
        </tr>

        <tr bgcolor="#DDEEFF">
            <td height="66" align="center" valign="middle" bgcolor="#DDEEFF">23</td>
            <td colspan="2" align="left" valign="middle" bgcolor="#DDEEFF">声明书、委托书、出生证、死亡<br>证、婚前协议、电子签证、国外<br>税单、审计报告、银行流水、账<br>单等
            </td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">字符数</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">450起 - 面议</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">675起 - 面议</td>
            <td valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
        </tr>

        <tr>
            <td height="66" align="center" valign="middle">24</td>
            <td colspan="2" valign="top">个人简历、推荐信、公司合同及<br>协议、公司内部管理资料、公司<br>年报及简介、员工手册等</td>
            <td align="center" valign="middle">字符数</td>
            <td align="center" valign="middle">675起 - 面议</td>
            <td align="center" valign="middle">900起 - 面议</td>
            <td valign="top" bgcolor="#FFFFFF"><!--DWLayoutEmptyCell-->&nbsp;</td>
        </tr>
        <tr>
            <td height="44" align="center" valign="middle" bgcolor="#DDEEFF">25</td>
            <td colspan="2" valign="top" bgcolor="#DDEEFF">金融资料、法律文书、产品介绍<br>、使用说明、科技资料、课程描<br>述等</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">字符数</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">900起 - 面议</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">1000起 - 面议</td>
            <td bgcolor="#DDEEFF">&nbsp;</td>
        </tr>
        <tr>
            <td height="22" align="center" valign="middle">26</td>
            <td colspan="2" valign="top">医学资料、国内出院小结</td>
            <td align="center" valign="middle">字符数</td>
            <td align="center" valign="middle">750起 - 面议</td>
            <td align="center" valign="middle">900起 - 面议</td>
            <td valign="top" bgcolor="#FFFFFF"><!--DWLayoutEmptyCell-->&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="2" align="center" valign="middle" bgcolor="#DDEEFF">27</td>
            <td width="56" rowspan="2" valign="top" bgcolor="#DDEEFF">外派口译</td>
            <td width="121" height="22" valign="top" bgcolor="#DDEEFF">A.陪同</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">次/人</td>
            <td rowspan="2" valign="top" bgcolor="#DDEEFF"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">1000 起</td>
            <td rowspan="2" valign="top" bgcolor="#DDEEFF"><!--DWLayoutEmptyCell-->&nbsp;</td>
        </tr>


        <tr>
            <td height="22" valign="top" bgcolor="#DDEEFF">B.会议谈判</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">次/人</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">3000 起</td>
        </tr>
        <tr>
            <td height="44" align="center" valign="middle" bgcolor="#DDEEFF">28</td>
            <td colspan="2" valign="middle" bgcolor="#DDEEFF">同声翻译(每次必须2人)</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">次/人</td>
            <td valign="top" bgcolor="#DDEEFF"><!--DWLayoutEmptyCell-->&nbsp;</td>
            <td align="center" valign="middle" bgcolor="#DDEEFF">半天 6000 起<br>
                全天 8000 起
            </td>
            <td valign="top" bgcolor="#DDEEFF">起点价为3小时/半天，<br>
                超过6小时则加班费另计。
            </td>
        </tr>
        </tbody>
    </table>
    <div class=""><span>说明</span>
        <ul>
            <li>收费按中文字符数计算，具体以WORD字数统计工具显示的“字符数（不计空格）”为准。不足500字按500字计算，超过500字按千字计算。</li>
            <li>稀少语种（除英、德、法、日、俄以外的其他语种）译费加收50%。</li>
            <li>翻译件交件期：三千字内的，为五个工作日。特急件（24小时内取件）按标准加收100%费用；加急件（三天内）按标准加收50%费用。  </li>
            <li>译中文译文原件为一份；译外语译文原件为三份；加份盖章每页5元。  </li>
            <li>口译超过6小时应加付加班费。每小时加班费100元，直接支付给翻译人员。</li>
            <li>此收费标准的解释权归本公司所有。</li>
        </ul>
    </div>
    <footer>
        <p>© Company 2016</p>
    </footer>
<!--</div>-->

</div>
</body>
</html>