<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>关于萌鹿</title>
    <link href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/static/css/base.css" type="text/css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="carousel-inner">
        <ul class="nav nav-pills common-ul-background" role="tablist">
            <li role="presentation" class=""><a href="/h5_test/menglu_index">主页</a></li>
            <li role="presentation" class=""><a href="/h5_test/menglu_price">报价</a></li>
            <li role="presentation" class="active"><a href="#">关于我们</a></li>
        </ul>
    </div>
    <br />
    <div class="jumbotron row common-row-background">
        <div class="col-md-5">
            <!--<img src="/static/img/1.jpg" class="carousel-inner img-circle">-->
        </div>
        <div class="col-md-7">
            <h1>萌鹿翻译 翻译行业 <b class="common-special-b">领先专家</b>.</h1>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎来到萌鹿翻译。萌鹿翻译主营翻译业务，涵盖语种广，质量高，欢迎大家来电咨询，包含语种如下：<br>
                英文，日文、韩文、俄文、法文、德文、西班牙文、葡萄牙文、阿拉伯文、意大利文
                泰文、老挝、缅甸、印尼、马来、越南、藏文、维文、蒙古、瑞典、希腊、荷兰、波斯、印地、希伯莱、土耳其、斯瓦西里、普什图、乌尔都、尼泊尔、印地、柬埔寨、菲律宾、乌克兰、乌兹别克、吉尔吉斯、哈萨克等语种
            </h4>
        </div>
    </div>
    <br />
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <p><a id="open-qq-connect" class="btn btn-default" href="#" role="button">在线联系 »</a></p>
            </div>
            <div class="col-md-4">
                <p><a class="btn btn-default" href="/h5_test/menglu_about" role="button">联系我们 »</a></p>
            </div>
            <div class="col-md-4">
                <p><a class="btn btn-default" href="/h5_test/menglu_price" role="button">服务报价 »</a></p>
            </div>
        </div>
    </div>
    <br />
    <footer>
        <p>© Company 2016</p>
    </footer>
</div>
</body>
<script type="text/javascript">
    $("#open-qq-connect").click(function open_qq_connect() {
        document.location.href = "tencent://Message/?websiteName=qzone.qq.com&Menu=yes&Uin=553687331"
    })
</script>
</html>